<% provide(:title, 'Scratch') %>
<div class="section clearfix">
	<div class="container">
		<div class="col-sm-12">

			<%= react_component "Calendar", [{ date: "2017-04-03", item: "10 minutes" }, { date: "2017-04-05", item: "20 minutes" }, { date: "2017-04-03", item: "1 question" },  { date: "2017-04-10", item: "1 question" }] %>

		</div>
	</div>
</div>
